
/* 타입 선택자 */
pre {
	text-align: center;
}

h1 {
	color: skyblue;
}

/* id 선택자 */
#sid01 {
	color: red;
}
#sid02{
	background-color: blue;
	color: white;
}
#sid03{
	color: green;
}

/* class 선택자*/
.scls {
	color: silver;
}

/* 전체 선택자 */
* {
	padding: 0px;
	margin: 0px;
	font-size: small-caps;	
}

/* 자식 선택자 */
#at > p {
	color: red;
}
#at > div > p {
	color : blue;
}


/* 하위 선택자 */
div span {
 background-color: yellow;
 }
 
 
 /* 인접 선택자* h3 바로 다음번에 나오는 태그에 적용/
h3+ b {
	background-color: gray;
	color: ghostwhite;
}


span + b {
	color: fuchsia;
}


/* 속성 선택자*/
p[title] {
	background-color: yellow;
}
p[title="b"]{
	color: green;
}


/* 가상 클래스 선택자 */
a:link{
	color: green;
	font-size: 30pt;
}

a:visited{
	color: orange;
}

a:hover{
	background-color: fuchsia;
	font-size: 40pt;
}

input:checked{
	width: 100px;
	height: 100px;
}
a:active {
	background-color: lime;
	color: black;
	
}


/* 종속 선택자*/
li.scls01 {
	background-color: purple;
}
li.scls02#sidul {
	font-size: 30px;
	font-weight: bold;
}


/*그룹 선택자*/
p, pre, strong {
	color: teal;
}
 